.main-middleblock{
    height: 500px;
    background-color: black;
}


.main-title-block{
    top:3em;
}

.main-title{
    position: absolute;
   left:50px;
   margin: 0;
   color: white;
   font-weight: 600;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
